.rc_disabled .rc_body-cell_value{
    color: #fff;
    background-color: transparent !important;
}

.rc_highlight .rc_body-cell_value {
    background-color: #15f90033 !important;
    /* border-radius: 20%; */
}

.header-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.header-div h1{
    flex-grow: 2;
}

.calender{
    padding: 40px 0px;
}

/* .logout-btn{
    background: #9d1c29;
    border: solid #b02a37 !important;
    border-width: 1px 2px 2px 1px !important;
    border-radius: 10%;
    padding: 3px 8px;
    color: #eec4c4;
    font-family: cursive;
    font-size: 14px;
    cursor: pointer;
    transition: .5s ease;
}
.logout-btn:hover{
    background-color: #bb2d3b;
    border-color: #6d1a22 !important;
    
} */

.outer-box{
    background-image: linear-gradient(#004C4C, black) !important;
    border-radius: 5%;
    padding: 2rem 1.5rem 3.5rem;
    margin-top: 7rem;
    margin-bottom: 10rem;
}

/* FOr Claender style */
.rc_root.rc_dark{
    border: solid white 0.5px;
    background-color: #000000a1;
}

/* Highlighted date in Calender */
.rc_body-days-of-month .rc_body-cell.rc_disabled .rc_body-cell_value button:before{
    width: 0px !important;
    transform: none !important;
}

/* @media screen and (min-width: 785px) {
    .outer-box{
        margin: 0% 20%;
    }
} */

/* .react-timerange-picker__clock {
    inset:  auto auto 100% 0px !important;
    border-radius: 10%;
    border:  thick double #004C4C !important;
} */

.css-1t1j96h-MuiPaper-root-MuiDialog-paper, .css-ypiqx9-MuiDialogContent-root{
    overflow-y: visible !important;
}

.ant-picker-dropdown {
    z-index: 1500 !important;
}
