.admin-panel{
    border-radius: 5%;
    padding: 2rem 10rem 3.5rem;
    margin-top: 7rem;
    margin-bottom: 10rem;
}

.admin-panel .card {
    background-color: transparent;
    padding-top: 10px;
    color: white;
    border: solid #8080806e 1px;

}

.admin-panel .col{
    padding: 0rem 3rem;
}

.admin-panel .card-header{
    border-bottom: solid #8080806e 1px;
    font-family: monospace;
    font-weight: 600;
    font-size: 30px;
}

.admin-panel .card-body{
    font-size: 15px !important;
    font-weight: 100;
    font-family: cursive;
}